.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1440px;
}

.presentation h2{
    border-bottom: 1px solid #0095FF;
    border-radius: 5px;
}

.presentation-intro {
    font-family: "Sour Gummy", sans-serif;
    font-size: 1rem;
    line-height: 1.5; 
    text-align: center;
    max-width: 768px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0 auto;

    @media (max-width: 768px) {
        font-size: 0.9rem;
    }

    @media (max-width: 480px) {
        font-size: 0.8rem; 
    }
}

h2 {
    font-size: 36px;
    font-family: "Doto", sans-serif;
}

.main-part-presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* 
Animation pour le texte qui apparaît
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
Animation pour le clignotement du curseur 
@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #0095FF;
    }
}*/