.presentation {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    max-height: 500px;
    height: 100%;
    max-width: 1440px;
    width: 100%;
}
