.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 1440px;
    gap: 5px;
}

.presentation h2{
    border-bottom: 1px solid #0095FF;
    border-radius: 5px;
}

.presentation-intro {
    font-family: "Sour Gummy", sans-serif;
    font-size: 1rem;
    line-height: 1.5; 
    text-align: center;
    max-width: 768px;
    width: 100%;
    word-wrap: break-word;
    word-break: break-word;
    margin: 0 auto;

    @media (max-width: 768px) {
        font-size: 0.9rem;
    }

    @media (max-width: 480px) {
        font-size: 0.8rem; 
    }
}

h2 {
    font-size: 36px;
    font-family: "Doto", sans-serif;
}

.main-part-presentation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.presentation-indication {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Sour Gummy", sans-serif;
    font-size: 12px;
    gap: 15px;
}

.presentation-indication-1,
.presentation-indication-2,
.presentation-indication-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative; /* Nécessaire pour positionner le pseudo-élément */
}



.presentation-indication-1::before,
.presentation-indication-2::before,
.presentation-indication-3::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 2px solid transparent; /* Ajoutez une bordure transparente */
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    animation: pulsate-border 3s ease-out infinite;
    z-index: -1; /* Place l'effet derrière le cercle */
}

.presentation-indication-1::before {
    border-color: #CC4E4E;
    animation-delay: 0s;
}

.presentation-indication-2::before {
    border-color: #2ECC71; 
    animation-delay: 1s;
}

.presentation-indication-3::before {
    border-color: #4A6EF5; 
    animation-delay: 2s;
}

@keyframes pulsate-border {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}