.header-right {
    background-color: transparent;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-family: "Faculty Glyphic", sans-serif;
}

.header-right a{
    border-radius: 5px;
    border-bottom: 1px solid #0095FF;
}

