.header-right {
    background-color: transparent;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    font-family: "Sour Gummy", sans-serif;
    color: white;
}

.header-right a {
    color: white;
    position: relative; 
    border-radius: 5px;
    border-bottom: 1px solid #0095FF;
    text-decoration: none;
    overflow: hidden;
}

.header-right a::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #0095FF, #00D4FF);
    z-index: -1; 
    transition: top 0.4s ease; /* Animation de la montée */
}

.header-right a:hover::after {
    top: 0;
}

.header-right a:hover {
    color: black;
}
