.presentation-bubble {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    white-space: normal;
    color: white;
    z-index: 1000;
}

.presentation-bubble p {
    margin: 0;
}

.bubble-text-1 {
    position: absolute;
    width: 400px; /* Largeur fixe pour le rectangle */
    height: 200px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px dotted #0095FF;
    font-family: "Faculty Glyphic", sans-serif;
    padding: 10px;
    top: -50%; /* Centrer verticalement */
    left: 100px; /* Positionner à droite de la bulle */
    transform: translateY(-50%);
    transform: translateZ(0);
    white-space: normal;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble-text-2 {
    position: absolute;
    width: 400px;
    height: 210px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px dotted #0095FF;
    padding: 10px;
    top: 50%;
    left: -500px;
    font-family: "Faculty Glyphic", sans-serif;
    transform: translateY(-50%);
    transform: translateZ(0);
    white-space: normal;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bubble-text-3 {
    position: absolute;
    width: 400px;
    height: 160px;
    background-color: rgba(0, 0, 0, 0.8);
    border: 2px dotted #0095FF;
    font-family: "Faculty Glyphic", sans-serif;
    padding: 10px;
    top: 100px;
    left: 100%;
    transform: translateY(-50%);
    transform: translateZ(0);
    white-space: normal;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
