.presentation-bubble {
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    background-color: black;
    white-space: normal;
    color: white;
    z-index: 1000;
}

.presentation-bubble p {
    margin: 0;
}

