@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Faculty+Glyphic&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body {
    width: 100%;
    height: 100%;
    background: #00416A;
    background: -webkit-linear-gradient(#E4E5E6, #00416A);
    background: linear-gradient(to top,#E4E5E6, #00416A);
    color: white;
    font-family: "Roboto", serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
    color: #0095FF;
}
.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    width: 100%;
}

.resume-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
}

.grid-background {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1440px;
    width: calc(100% - 20px);
    z-index: 0;
    background: transparent;
}

.grid-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: 
        linear-gradient(to right, #00416A 1px, transparent 1px),
        linear-gradient(to bottom, #00416A 1px, transparent 1px);
    background-size: 20px 20px; /* Espacement des lignes */
    opacity: 0.2; /* Transparence des lignes */
    z-index: -1;
    mask-image: 
        linear-gradient(to bottom, transparent 20px, black 40px),
        linear-gradient(to left, transparent 20px, black 40px),
        linear-gradient(to top, transparent 20px, black 30px),
        linear-gradient(to right, transparent 20px, black 40px);
    mask-composite: intersect;
}

.img-background {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 1440px;
    width: calc(100% - 20px);
    height: 100%;
    z-index: 0;
    background: transparent;
}

.img-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px; 
    height: 10px;
    border-radius: 50%;
    background: rgb(0, 52, 163, 0.8);
    box-shadow: 0 0 10px 5px rgb(0, 52, 163, 0.6);
    z-index: 2;
    pointer-events: none;
    animation: light-point 20s ease-in-out infinite;
}

@keyframes light-point {
    0% {
        top: 0;
        left: 0;
    }
    25% {
        top: 0;
        left: calc(100% - 10px);
    }
    50% {
        top: calc(100% - 10px);
        left: calc(100% - 10px);
    }
    75% {
        top: calc(100% - 10px);
        left: 0;
    }
    100% {
        top: 0;
        left: 0;
    }
}



