.presentation-container {
    padding-right: 25px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 100%;
    box-sizing: border-box; /* Inclut les bordures et les padding dans la largeur */
}

.presentation-item {
    padding: 8px;
    color: black;
    font-family: "Sour Gummy", sans-serif;
    border: 2px solid black;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
}


