.header {
    display: flex;
    justify-content: center;
    max-width: 1440px; 
    width: calc(100vw - 10px); 
    box-sizing: border-box;
    align-items: stretch;
}

.header-extra {
    display: none;
}


@media (max-width: 1440px) and (min-width: 1025px) {
    .header-main-title {
        font-size: 12px;
    }
    .header-main-flag img {
        width: 18px;
        height: 18px;
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .header {
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
    }

    .header-left, .header-right {
        max-width: 20%;
        flex-direction: column;
        align-items: center;
    }

    .header-main {
        max-width: 60%;
        border: 1px solid #0095FF;
    }

    .header-main-title {
        font-size: 10px;
    }

    .header-main-flag img {
        width: 16px;
        height: 16px;
    }
}


@media (max-width: 768px) and (min-width: 320px) {
    .header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-left, .header-right {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 10px 0;
    }

    .header-main {
        max-width: 100%;
    }

    .header-main-animation {
        display: none;
    }

    .header-extra {
        display: flex;
        max-width: 100%;
        margin-top: 10px;
    }
    
    .header-main-title {
        font-size: 8px;
    }

    .header-main-flag img {
        width: 15px;
        height: 15px;
    }
}
