.project-grid {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(1, 1fr);
  
    @media (min-width: 769px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (min-width: 1025px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .project-card {
    background: rgba(255, 255, 255, 0.151);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 
    0 4px 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1)inset;
    text-align: left;
    color: white;
  
    h3 {
      font-size: 1.5em;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 1em;
      margin-bottom: 15px;
    }
  
    .skills {
      ul {
        padding-left: 20px;
        li {
          list-style-type: disc;
        }
      }
    }
  }
  