
.project-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center; /* Centre toute la grille */

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr); /* Adaptation à 2 colonnes pour les écrans moyens */
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr); /* Adaptation à 1 colonne pour les petits écrans */
  }
}
  
  .project-card {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: thick double rgb(0, 52, 163);
    box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.3),
    0 4px 12px rgba(0, 0, 0, 0.3)inset;
    text-align: left;
    color: rgb(0, 52, 163);
  
    h3 {
      font-size: 1.4em;
      font-weight: bold;
      font-family: "Doto", sans-serif;
      text-align: center;
      background: linear-gradient(45deg, rgb(0, 52, 163), #0095FF);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-shadow: 0 0 4px rgb(0, 52, 163), 0 0 8px #0095FF;
    }
  
    p {
      font-family: "Sour Gummy", sans-serif;
      font-size: 0.9em;
      margin-bottom: 15px;
      padding: 5px;
      border-right: thick double rgb(0, 52, 163, 0.6);
      border-left: thick double rgb(0, 52, 163, 0.6);
      border-radius: 5px;
      text-align: center;
    }
  
    .skills {
      .collapsible-label {
        cursor: pointer;
        font-weight: bold;
        text-align: center;
        border: thick double rgb(0, 52, 163, 0.6);
        border-radius: 10px;
        font-size: 1em;
        margin-top: 10px;
        display: block;
        transition: color 0.3s ease;
      }
    
      .collapsible-label:hover {
        color: #0095FF; /* Changement de couleur au survol */
      }
    
      .collapsible-content {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.5s ease, opacity 0.5s ease;
        opacity: 0;
        padding-left: 20px;
        margin-top: 5px;
      }
    
      .collapsible-content.expanded {
        max-height: 500px; /* Ajuster en fonction de la taille du contenu */
        opacity: 1;
      }
    
      .collapsible-content.collapsed {
        max-height: 0;
        opacity: 0;
      }
    
      ul {
        list-style-type: disc;
        padding-left: 20px;
      }
    }
  }
  
.project-icons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    margin-bottom: 15px;
  
    .type-logo {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.3);
    }
  
    .type-icon {
      color: #0034a3;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.3);
    }
  
    .status-icon {
      font-size: 1.5em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.3);
    }
  
    .status-icon.validated {
      color: green;
    }
  
    .status-icon.not-validated {
      color: red;
    }
    .github-link {
      margin-left: 10px;
      color: #333;
      text-decoration: none;
    }
    
    .github-icon {
      font-size: 1.5em;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      box-shadow: 
    0 4px 12px rgba(0, 0, 0, 0.3);
      transition: color 0.3s ease;
    }
    
    .github-link:hover .github-icon {
      color: #6e5494; /* Couleur typique de GitHub */
    }
  }