.header-main {
    background-color: transparent;
    border-radius: 20px;
    width: 100%;
    max-width: 480px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #0095FF; 
}

.header-main-title h1 {
    font-size: 2.2rem; /* Taille de police */
    font-weight: bold;
    font-family: "Doto", sans-serif;
    text-align: center;
    background: linear-gradient(45deg, #0095FF, #00D4FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 8px #0095FF, 0 0 15px #00D4FF;
}

.header-main-icon {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.header-main-icon img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-main-link {
    display: flex;
    gap: 15px;
    border-right: 2px dotted white;
    padding-right: 15px;
}

.header-main-link a {
    color: white;
    transition: color 0.3s ease;
}

.header-main-link a:hover {
    color: #0095FF;
}
